body {
  margin-left: 20px;
  margin-right: 20px;
  background-color:darkgreen;
}

.header_container{

}

.header_image{float:left;
             clear:none;
             }

.header_text{postition: relative;
            float:none;
             clear:none;
            }

.nav_container{
  color:gainsboro;
  clear: left;
  margin-top: 40px;
  position: relative;
  top: 500px:
  left: 20px:
}